<section class="bg-primary" id="about">
    <div class="container">
        <div class="row" style="margin: auto">
            <div class="col-lg-6 col-xs-12">
                <div>
                    <h2>I'm Calvin, a professional<br/>Java Software Engineer</h2>
                </div>
                <div class="col-lg-7 col-xs-12 custom-justify-center">
                    <div class="round-image-container" style="margin-bottom: 20px">
                        <img src="/assets/profile.jpg" alt="Profile picture"/>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-xs-12">
                <p>
                    “I'm a Java and Kotlin enthusiast who gets a kick out of coding and tinkering with things like
                    Kubernetes and cloud services. I made a big career shift and taught myself software engineering from
                    scratch. I believe in working closely with teammates to achieve great outcomes, fast.
                </p>
                <p>
                    When I'm not coding, I'm spending quality time with my family, experimenting in the kitchen,
                    catching some English football, and staying in shape through crossfit and mudruns.
                </p>
                <p>
                    Let's connect and craft excellence through collaboration.”
                </p>
            </div>
        </div>
    </div>
</section>
