<section id="blogposts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>"To share knowledge is to sow seeds for a forest of understanding."</h2>
                <hr class="dark" />
                <p>- ChatGPT, when asked for a quote on knowledge sharing</p>
            </div>
            <div class="col-lg-12 text-center" style="margin-top: 50px" >
                <img src="../img/blog_header.png" style="width: 100%" />
            </div>
        </div>
    </div>
</section>
