<section class="bg-primary" id="certifications">
    <div class="container" style="justify-content: center">
        <div class="call-to-action">
            <h2>Certifications.</h2>
            <p>
                Genuine learning in coding comes from hands-on experience on real projects. However, for me certifications play
                a vital role in truly mastering the use of essential tools and frameworks. It's a combination of
                real-world practice and focused learning that propels skills to new heights.
            </p>
        </div>
        <div>
            <div class="row custom-justify-center">
                <div class="col-xs-6 col-md-2" style="margin: 10px"><img
                        src="../img/badges/aws-certified-solutions-architect-associate.png" class="img-responsive">
                </div>
                <div class="col-xs-6 col-md-2" style="margin: 10px"><img
                        src="../img/badges/spring-certified-professional-2022.png" class="img-responsive"></div>
                <div class="col-xs-6 col-md-2" style="margin: 10px"><img
                        src="../img/badges/ckad-certified-kubernetes-application-developer.png" class="img-responsive">
                </div>
                <div class="col-xs-6 col-md-2" style="margin: 10px"><img
                        src="../img/badges/oracle-certified-professional-java-se-11-developer.png"
                        class="img-responsive"></div>
            </div>
            <div class="row custom-justify-center">
                <div class="col-xs-6 col-md-2" style="margin: 50px"><img
                        src="../img/badges/aws-certified-cloud-practitioner.png" class="img-responsive"></div>
                <div class="col-xs-6 col-md-2" style="margin: 50px"><img
                        src="../img/badges/oracle-certified-associate-java-se-8-programmer.png" class="img-responsive">
                </div>
                <div class="col-xs-6 col-md-2" style="margin: 50px"><img
                        src="../img/badges/professional-scrum-master-i-psm-i.png" class="img-responsive"></div>
            </div>
        </div>
    </div>
</section>
