<section class="bg-dark" id="companies">
    <div class="container" style="justify-content: center">
        <div class="call-to-action">
            <div class="row custom-justify-center">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Companies I worked with</h2>
                </div>
            </div>
            <div class="row custom-justify-center">
                <div class="col-md-1"><img src="../img/logos/ING_Group_N.V._Logo.svg" class="img-responsive logo"></div>
                <div class="col-md-1"><img src="../img/logos/Nederlandse_Spoorwegen_logo.svg" class="img-responsive logo"></div>
                <div class="col-md-1"><img src="../img/logos/BMW_Group.svg" class="img-responsive logo"></div>
                <div class="col-md-1"><img src="../img/logos/Sogeti-logo-2018.svg" class="img-responsive logo"></div>
            </div>
        </div>
    </div>
</section>
