<section class="bg-dark" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Want to reach out? That's great! Send me an email or contact me on LinkedIn!</p>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank">
                    <i class="fa fa-linkedin fa-3x wow bounceIn white" style="color: #fff;" data-wow-delay=".1s"></i>
                    <p style="color: #fff">{{ site.linkedin_username }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="mailto:{{ site.email }}">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" style="color: #fff;" data-wow-delay=".1s"></i>
                    <p  style="color: #fff">{{ site.email }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://github.com/{{ site.github_username }}" target="_blank">
                    <i class="fa fa-github fa-3x wow bounceIn" style="color: #fff;" data-wow-delay=".1s"></i>
                    <p style="color: #fff">{{ site.github_username }}</p>
                </a>
            </div>

        </div>
    </div>
</section>
