<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cloud-upload wow bounceIn text-primary"></i>
                    <h3>Embracing Continuous Growth and Innovation.</h3>
                    <p class="text-muted">As a backend developer, I consistently explore the latest technologies through ongoing learning and certifications, channeling this knowledge into practical applications.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-book bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Championing Progressive Architectural Strategies</h3>
                    <p class="text-muted">I've contributed to projects with forward-thinking architectural approaches, incorporating concepts like Domain-Driven Design and hexagonal architecture to enhance projects.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-group wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Nurturing Collaborative Team Dynamics.</h3>
                    <p class="text-muted">Valuing teamwork, I facilitate smooth transitions by involving stakeholders and the team. Decisions are consensus-driven, leading to cohesive and successful project outcomes.</p>
                </div>
            </div>
        </div>
    </div>
</section>
